/**
 * @name Material Discord
 * @version 3.0.4
 * @description A theme based on Google's Material Design by CapnKitten
 * @author SoiCoco
 *
 * @website http://github.com/SoiCoco
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/addons/material-you/Material-Discord_addon-material-you.theme.css
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);

/* MATERIAL YOU DARK THEME SETTINGS */
.theme-dark {
    --saturation-modifier: 0.175;
    --lightness-modifier: 0.2;
    --text-lightness-modifier: 1.0;
}

/* MATERIAL YOU LIGHT THEME SETTINGS */
.theme-light {
    --saturation-modifier: 0.175;
    --lightness-modifier: 2.175;
    --text-lightness-modifier: 1.0;
}
